.image-gallery-container {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;

  justify-content: center;
  width: 100%;
}
.image-gallery-left {
  font-size: 30px;
  color: #655dbb;
  margin-top: 50px;
  margin-bottom: 20px;
}
.image-gallery-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery-middle {
  color: #3e54ac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  margin: 100px 100px 0 10px;
  border-radius: 10px;
  width: 200px;
}
.image-gallery-middle-titles {
  color: #3e54ac;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-gallery-title {
  font-size: 48px;
  color: #ad7be9;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.image-gallery-secondTitle {
  font-size: 24px;
  font-weight: normal;
  color: #6a6a6a;
  margin-bottom: 10px;
}

.image-gallery-tops,
.image-gallery-bottoms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.image-gallery-tops img,
.image-gallery-bottoms img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 10px;
}
.image-gallery-tops button,
.image-gallery-bottoms button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.image-gallery-tops button:hover,
.image-gallery-bottoms button:hover {
  opacity: 0.8;
}

.image-gallery-tops button:before,
.image-gallery-bottoms button:before {
  content: "";
  display: inline-block;
  border: solid #ad7be9;
  border-width: 0 15px 15px 0;
  padding: 50px;
  border-radius: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.image-gallery-tops button:first-child:before,
.image-gallery-bottoms button:first-child:before {
  margin-right: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.image-gallery-tops button:last-child:before,
.image-gallery-bottoms button:last-child:before {
  margin-left: 10px;
}
